.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff !important;
}
.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    color: #0e4ba5 !important;
}
.btn-primary {
    color: #fff !important;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 0 15px;
}
header img {
    margin: 0;
    border-radius: 50%;
}
.site-name {
    font-size: 24px;
    font-weight: bold;
    color: #fff !important;
}
.navbar {
    width: 100%;
}
.nav-link:focus-visible {
    box-shadow: 0 0 0 .25rem rgb(253 253 253 / 70%) !important;
}
.navbar-toggler {
    box-shadow: 0 0 0 2px #fff;
    padding: 3px 8px;
}
.content {
    flex: 1;
}
.carousel-inner h1 {
    position: absolute;
    z-index: 2;
    color: #ffffffb2;
    text-shadow: 0 1px 3px #0005;
    top: 30%;
    right: 0;
    font-size: 5vw;
    left: 0;
    width: 100%;
    text-align: center;
}
.carousel-item {
    filter: brightness(1);
}
section {
    margin: 0;
    padding: 50px 0px;
}
#quienes-somos, #contacto {
    background: #fff;
}
#quienes-somos img {
    max-width: 100%;
}
form {
    text-align: left;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
.carousel-indicators button:focus {
    outline: 2px solid #fff;
    opacity: .7;
}

.card {
    margin: 0 0 30px;
}

#video-description {
    background: #e7eef8;
}

.video-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.video-container video {
    width:100%;
}


@media (max-width:1024px) {


}

@media (max-width:768px) {

    .carousel-inner h1 {
        top: 28%;
    }

    .site-name {
        font-size: 18px;
    }
    
}

@media (max-width:767px) {

    .carousel-inner h1 {
        font-size: 6vw;
    }
    
}

@media (max-width:480px) {

    .carousel-inner h1 {
        font-size: 7vw;
    }
    
}